<% content_for :ogp do %>
  <meta property="og:title" content="<%= @book.title %>-monolist" />
  <meta property="og:description" content="<%= @book.title %>に関する情報です。この商品を欲しい人、持ってる人を表示しています。" />
<% end %>

<div class="container">
  <div class="container-inner inner-sm clearfix">
    <div class="book-single-main">
      <div class="image">
        <div class="img-wrap">
          <% if @book.large_image.present? %>
            <%= image_tag(@book.large_image , alt: @book.title) %>
          <% else %>
            <%= image_tag("no-image.png", alt: @book.title) %>
          <% end %>
        </div>
      </div>
      <div class="title">
        <%= @book.title %>
      </div>
      <%= render 'action' , book: @book %>
    </div>
    <div class="book-single-side">
      <div class="side-box">
        <h4 class="side-box-title">Haveしたユーザー</h4>
        <div class="side-box-body">
          <% if @have_users.any? %>
            <div class="user_avatars">
              <% @have_users.each do |have_user| %>
                <%= link_to gravatar_for(have_user, size: 30), have_user %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="side-box">
        <h4 class="side-box-title">Wantしたユーザー</h4>
        <div class="side-box-body">
          <% if @want_users.any? %>
            <div class="user_avatars">
              <% @want_users.each do |want_user| %>
                <%= link_to gravatar_for(want_user, size: 30), want_user %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <div id="content" class="text-center">
        <!-- ISBNリスト -->
        <select name="" id="isbn_list" size=1>
          <option value="<%= @book.asin %>" selected><%= @book.title %></option>
        </select>
        <!-- 結果の表示 -->
        <div id="calil_booklist" class="clearfix"></div>
      </div>
      <div class="text-center">
        <%= link_to(image_tag("amazon-button.png", {alt: "Amazon詳細ページへ"}), @book.detail_page_url, target: "_blank") %>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">

  //デフォルトの図書館ID(sysytemid)
  var systemid_list = ['Tokyo_Setagaya'];

  //市町村選択時に実行される関数
  function on_select_city(systemid, pref){

    systemid_list = systemid;
    log(systemid_list);

    //選択市町村の表示
    $('#pref').show();
    $('#pref_name').html(pref);

    apishow();

  }

  var city_selector = {};

  $(function(){

    //市町村選択ダイアログ
    city_selector = new CalilCitySelectDlg({
      'appkey' : '21a083a3fe1343dc207081c91e5f31ba',
      'select_func' : on_select_city
    });

    apishow();

    //ISBNリスト選択時
    $('#isbn_list').change(apishow);
  });


  //図書館APIの検索結果の表示
  function apishow(){

    var isbn_list = $('#isbn_list').val().split(',');
    $('#calil_booklist').html('');

    $(isbn_list).each(function(i, isbn){
      //Amazonの書影
      var thumbnail = '<a href="http://www.amazon.co.jp/exec/obidos/ASIN/' + isbn + '" target="_blank"><img border="0" src="https://images-na.ssl-images-amazon.com/images/P/' + isbn +'.09.MZZZZZZ.jpg" style="" alt="" onload="if(this.width==\'1\') this.src=\'/public/img/no-image/middle.gif\'"></a>';

      //検索結果表示場所の追加
      $('#calil_booklist').append('<div class="calil_book">'+ thumbnail + '<div id="'+isbn+'"></div></div>');
    });

    //検索表示用のインスタンス作成
    var calil = new Calil({
      'appkey' : '21a083a3fe1343dc207081c91e5f31ba',
      'render': new CalilRender(),
      'isbn' : isbn_list,
      'systemid' : 'Univ_Ritsumei'
    });
    //検索結果の表示 結果は↑で生成した<div id="isbn"></div>に描画されます
    calil.search();
  }
</script>



<script type="text/javascript">
/*  //図書館APIの検索結果の表示
  (function apishow(){
  
      var isbn_list = $('#isbn_list').val().split(',');
      $('#calil_booklist').html('');
      
      $(isbn_list).each(function(i, isbn){
        //Amazonの書影
        var thumbnail = '<a href="http://www.amazon.co.jp/exec/obidos/ASIN/' + isbn + '" target="_blank"><img border="0" src="https://images-na.ssl-images-amazon.com/images/P/' + isbn +'.09.MZZZZZZ.jpg" style="" alt="" onload="if(this.width==\'1\') this.src=\'/public/img/no-image/middle.gif\'"></a>';
      //検索結果表示場所の追加
        $('#calil_booklist').append('<div class="calil_book">'+ thumbnail + '<div id="'+isbn+'"></div></div>');
      });
      
      //検索表示用のインスタンス作成
      var calil = new Calil({
        'appkey' : '21a083a3fe1343dc207081c91e5f31ba',
        'render': new CalilRender(),
        'isbn' : isbn_list,
        'systemid' : 'Univ_Ritsumei'
      });
  }());
  
  //検索結果の表示 結果は↑で生成した<div id="isbn"></div>に描画されます
  calil.search();*/
</script>

            
            
